@import url(../css/fonts.css);

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --text: #333333;
    --bluesky: #0eb8bd;
    --inputbg: #f0f0f0;
    --boxbg: #f9f9f9;
    --graywhite: #d8d8d8;
    --blue: #23c4cb;
    --black: #000;
    --orange: #ff5700;
    --white: #FFF;
    --light: #f8f7f5;
    --purple: #3336cc;
    --skyblue: #8bdde0;
    --gray: #6d6e71;
    --lightgray: #7f7e83;
    --darkblue: #000d6b;
    --gold: rgb(210, 174, 109);
    --lineargold: linear-gradient(48deg, rgba(210, 174, 109, 1) 0%, rgba(230, 194, 129, 1) 100%);
    --lightblue: rgb(33, 210, 218);
    --linearlightblue: linear-gradient(139deg, rgba(33, 210, 218, 1) 0%, rgba(15, 145, 147, 1) 100%);
}

body {
    font-family: 'Kalameh Bold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f2f2f2;
}

.clr {
    clear: both;
}

/* owl */

.item img {
    margin: 0;
    width: 100%;
}


/* owl */

.owl-carousel,
.owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative
}

.owl-carousel {
    display: none;
    width: 100%;
    z-index: 1
}

.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0)
}

.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0)
}

.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: none
}

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
    display: block
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit
}

.owl-carousel.owl-loading {
    opacity: 0;
    display: block
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px;
}

.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #869791;
}

/* owl */

.hamburger-menu {
    width: 30px;
    height: 30px;
    padding: auto 0;
    margin: auto 0;
    display: none;
}

button {
    font-family: 'Kalameh Bold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.over-main {
    position: absolute;
    width: 100%;
    left: 0;
    top: 350px;
    z-index: 100;
    bottom: 0;
    right: 0;
    margin: auto;
}

.right {
    text-align: right;
    padding: 10px 0;
}

.reserve-tour-btn {
    width: 100%;
    border-radius: 20px;
    background-color: var(--blue);
    outline: none;
    border: none;
    padding: 10px;
    margin: 10px 0;
}

.tour-card {
    padding: 20px;
    /* height: 200px; */
    border-radius: 50px 20px 20px 20px;
    box-shadow: 1px 0px 6px rgb(153 153 153);
    background: rgb(253, 253, 253);
    background: linear-gradient(86deg, rgba(253, 253, 253, 1) 0%, rgba(223, 223, 223, 1) 100%);
}

.card-tour-abs {
    position: absolute;
    top: -160px;
    z-index: 100;
}

.tour-card-text {
    font-size: 1rem;
    font-weight: 900;
}

.gray-text {
    color: var(--gray);
}

.side-left {
    width: 30%;
}

.tour-service-content {
    padding: 5px;
    margin: 10px 0;
}

.tour-service-card {
    padding: 20px;
    margin: 5px 0;
    background-color: var(--boxbg);
    /* background-color: var(--white); */
    border: 1px solid var(--graywhite);
    border-radius: 10px;
    max-width: 336.6px;
    width: 100%;
    direction: rtl;
}


.side-right {
    width: 68%;
    margin-top: -157px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

a {
    cursor: pointer;
}

main {
    width: 100%;
    height: auto;
    /* margin: auto 0; */
}

/* usefull */
.rtl {
    direction: rtl;
}

.center-text {
    text-align: center;
}

.justify-text {
    direction: rtl;
    text-align: justify;
}

.font-def {
    font-weight: 100;
    font-size: 1rem;
    line-height: 1.5rem;
}

.d-rowreverse {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}

.re-col {
    flex-direction: column-reverse;
}

.mt {
    margin-top: 10px;
}

.d-rowreverse-spacebetween {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.d-row {
    transition: all 0.5s linear;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
}

.d-column {
    transition: all 0.5s linear;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
}

.flex {
    display: flex;
}

.column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.space-evenly {
    transition: all 0.5s linear;
    justify-content: space-evenly;
}

.space-between {
    transition: all 0.5s linear;
    justify-content: space-between;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.bc-main {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    transition: all 0.5s linear;

}

.owl-carousel img {
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 52%, 0 100%);
}


#triangle-bottomright {
    width: 0;
    height: 0;
    border-bottom: 100px solid var(--white);
    border-left: 2195px solid transparent;
}

.item-container {
    padding: 3em 0 0 0;
}

.item-container-inner {
    padding: 1em 0 0 0;
}

.item-space {
    padding: 2em;
}


/* customize */

/* navbar */
.nav {
    background-color: var(--blue);
}

.navbar {
    margin: auto;

}

.nav-logo {
    margin: auto 0;
}

.menu,
.access {
    margin: 20px;
}

.item-menu {
    display: inline;
    padding: 0 5px;
}

.item-menu,
.item-menu-link,
.login-btn,
.help-link,
.fa-lang,
.en-lang {
    font-size: 1.5rem;
    color: var(--white);

}

.item-menu-link:hover,
.help-link:hover {
    color: var(--purple);
    /* font-size: 1.65rem; */
}

/* .flex-start{
    display: flex;
    justify-content: flex-start;
} */

.login-btn,
.help-link {
    padding: 7px 15px;
    margin: auto 0;
}

.fa-lang,
.en-lang {
    padding: 7px;
    border-radius: 20px;
}

.top {
    background: var(--gold);
    bottom: 20px;
    right: 20px;
    position: fixed;
    padding: 7px 15px;
    border-radius: 20px;
    z-index: 10000;
}

.logo {
    max-width: 150px;
    width: 100%;
}

.login-btn,
.fa-lang {
    background: var(--lineargold);
}

.en-lang {
    background: var(--skyblue);
}

.login-btn {
    border-radius: 30px 30px 30px 0;
    padding: 5px 40px;
    margin-right: 5px;
}



/* slider */
.overlay-img-container {
    position: relative;

}

.overlay-img-container-slider {
    position: relative;

    /* حل مشکل زیر اسلایدر */
    display: table-cell;
    vertical-align: middle;
    width: 196.62px;
    height: 192.84px;
    margin: 10px;
}

/* .figure-margin {
    margin: 0;
} */

.slider-img {
    display: block;
    /* حل مشکل زیر اسلایدر */

    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;

    overflow-clip-margin: content-box;
    overflow: clip;
}

.overlay {
    transition: all 0.5s linear;
    position: absolute;
    bottom: 0px;
    height: 100px;
    max-width: 196.62px;
    width: 100%;
    z-index: 10;
    bottom: 2px;
    border-radius: 0 0 35px 0;
    background: var(--white);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.966) 0%, rgba(255, 255, 255, 0.6) 35%, rgba(255, 255, 255, 0) 100%);

}

.overlay p {
    position: relative;
    top: 60%;
    text-align: center;
    bottom: 10px;
    font-size: 1.5rem;
    color: var(--gray);
}

/* card */
.card-img {
    max-width: 270px;
}

.overlay-card {
    transition: all 0.5s linear;
    position: absolute;
    bottom: 0px;
    height: 200px;
    max-width: 270px;
    width: 100%;
    z-index: 10;
    bottom: 8px;
    border-radius: 0 0 39px 0;
    background: var(--darkblue);
    background: linear-gradient(0deg, rgba(0, 2, 107, 0.966) 20%, rgba(8, 0, 114, 0.8) 35%, rgba(255, 255, 255, 0) 100%);
}

.overlay-card:hover {
    background: var(--skyblue);
    background: linear-gradient(0deg, rgba(0, 213, 228, 0.966) 20%, rgba(3, 218, 247, 0.8) 35%, rgba(255, 255, 255, 0) 100%);

}

.header-card {
    position: relative;
    bottom: 10%;
    top: 20%;
    bottom: 10px;
    color: var(--white);
}

.overlay-card p {
    padding: 2px 20px 20px 20px;
}

.overlay-card h2 {
    padding: 10px 20px;
}

.more {
    padding: 20px;
    position: relative;
    top: 5%;
    z-index: 12;
    font-size: 1rem;
    font-weight: bold;
    color: var(--gold);
}

/* cards and content */
.width-60 {
    width: 60%;
}

.width-35 {
    width: 35%;
}

.map-card {
    box-shadow: 5px 5px 15px rgb(153, 153, 153);
    border-radius: 0 100px;
}

.iran-map {
    max-width: 480px;
    width: 100%;
    max-height: 502.19px;
    height: 100%;
    padding: 30px;
}

.title-text {
    color: var(--blue);
    padding: 10px 20px;
    font-size: 1.5rem;
}

.title-text-card {
    color: var(--blue);
    font-size: 1.5rem;
}

.roadmap {
    width: 100%;
}

.title-card {
    color: var(--blue);
    padding: 10px;
    font-size: 1.75rem;
}

.title-paragraph {
    line-height: 1.75rem;
    font-size: 1.25rem;
}

.discount-text {
    color: var(--lightgray);
    font-size: 2rem;
}

.blue-btn {
    background: var(--lightblue);
    background: var(--linearlightblue);
    width: max-content;
    padding: 10px;
    border-radius: 20px 20px 20px 0;
    color: var(--white);
    font-size: 1.25rem;
}

.margin-btn-discount {
    margin: 15px 20px;
    box-sizing: content-box;
}

.discount-card {
    width: 95%;
    background: rgb(251, 249, 250);
    background: linear-gradient(139deg, rgba(251, 249, 250, 1) 0%, rgba(237, 238, 240, 1) 100%);
    overflow: hidden;
    border-radius: 60px 60px 60px 0;
    filter: drop-shadow(5px 5px 14px #A0A0A0);
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article {
    transition: all 0.5s linear;
    width: 100%;
    background: var(--light);
    overflow: hidden;
    border-radius: 100px 50px 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    filter: drop-shadow(3px 2px 2px #A0A0A0);
    margin-bottom: 2em;
}

.right-side-text {
    text-align: right;
    padding: 20px 30px;
}

.right-text {
    text-align: right;
    direction: rtl;
}

.discount-card:hover {
    border: 2px #ff5700 solid;
}

.discount-right {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    padding: 5px;
}

.discount-right img {
    padding: 5px 10px 5px 5px;
    max-width: 50px;
    width: 100%;
    max-height: 50px;
    height: 100%;
    margin: auto 0;
}

.discount-left {
    background: var(--orange);
    padding: 35px 20px;
    color: var(--white);
}

.discount-text {
    font-size: 1rem;
    padding: 5px;
    margin: auto 0;
}

.discount-text p {
    font-size: 1rem;
    padding: 10px;

}

.ticket-date {
    margin: 0;
    color: var(--orange);
    direction: rtl;
}

.pagination {
    display: inline-block;
    height: 50px;
    padding-top: 5px;
    margin: auto;
    width: 100%;
    text-align: center;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    /* background-color: #ff5700; */
    color: var(--orange);
}

.signin {
    background: var(--blue);
    padding: 0 0 4em 0;
}

.relative {
    position: relative;
}

.bg-signin {
    position: relative;
    border: 2px #FFF solid;
    width: 100%;
    min-height: 80px;
    top: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 20px 20px 90px 90px;
}

.membership {
    position: absolute;
    background: var(--blue);
    padding: 10px 20px;
    color: var(--white);
    z-index: 20;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    width: fit-content;
    font-size: 1.5rem;
}

.input-signin {
    outline: none;
    text-align: center;
    border: none;
    max-width: 170px;
    width: 100%;
    height: 50px;
    z-index: 240;
    bottom: 60px;
    margin: 20px 10px;
    font-family: 'Kalameh Bold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20px 20px 0 20px;
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}

.submit-signin {
    width: fit-content;
    outline: none;
    text-align: center;
    border: none;
    max-width: 170px;
    width: 100%;
    z-index: 240;
    height: 50px;
    margin: 20px 10px;
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
    color: #fff;
    font-family: 'Kalameh Bold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgb(36, 102, 226);
    background: linear-gradient(48deg, rgba(36, 102, 226, 1) 0%, rgba(76, 43, 192, 1) 35%, rgba(98, 74, 185, 1) 100%);
    border-radius: 20px 20px 20px 0;
}

.form {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 3em auto;
    /* position: relative;
        top: 70%; */
}

.tel {
    width: 100%;
    font-size: 1rem;
    margin-right: 36px;
    margin-top: 36px;
}

.tel span {
    font-size: 1.5rem;
}

.width-70 {
    max-width: 800px;
    width: 70%;
}

.width-30 {
    width: 30%;
    text-align: center;
}


.line {
    box-sizing: content-box;
    padding: 1em 0;
    max-width: 1200px;
    width: 100%;
}

.address {
    flex-wrap: nowrap;
}

.social-media {
    max-width: 380px;
    width: 100%;
    max-height: 30px;
    height: 100%;
}

.footer-links {
    text-align: right;
    line-height: 2rem;
}

.footer-links a {
    color: var(--black);
}

.footer-links a:hover {
    color: var(--gold);
}

.text-app {
    margin-left: 50px;
    direction: rtl;
}

.text-app span {
    color: var(--lightgray);
}

.image-app {
    text-align: center;
}

.box {
    width: 100px;
    height: 100px;
    border: 1px var(--gold) solid;
    border-radius: 10px;
    margin: 5px;

}

.copyright {
    width: 100%;
    bottom: 0;
    font-size: 1.5rem;
    text-align: center;
    background-color: #1fc2c9;
    color: #FFF;
}

.tooltip {
    position: relative;
    background-color: var(--white);
    border-radius: 0.25em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tooltip-gold {
    position: relative;
    background-color: var(--gold);
    border-radius: 0.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 270px;
    width: 100%; */
}

.fill-parent-w {
    max-width: 225px;
    width: 100%;
}

.tooltip p {
    padding: 10px;
    direction: rtl;
    font-size: 0.85rem;
    text-align: justify;
}

.tooltip-gold p {
    padding: 10px;
    direction: rtl;
    font-size: 0.85rem;
    text-align: justify;
    /* max-width: 270px;
    width: 100%; */
}


.message-box-right {
    display: block;
    height: 20px;
    width: 20px;
    background-color: inherit;
    border: inherit;
    position: absolute;
    bottom: -10px;
    right: 6px;
    /* right: calc(25% - 10px); */
    clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
    transform: rotate(-45deg);
    border-radius: 0 0 0 0.25em;
}

.message-box-left {
    display: block;
    height: 20px;
    width: 20px;
    background-color: inherit;
    border: inherit;
    position: absolute;
    bottom: -10px;
    left: 6px;
    /* right: calc(25% - 10px); */
    clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
    transform: rotate(-45deg);
    border-radius: 0 0 0 0.25em;
}

.user-comment {
    font-weight: 900;
    color: var(--blue);
    bottom: 0;
    vertical-align: bottom;
    align-self: flex-end;
    padding: 0 5px;

}

.logo-comment {
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    padding: 2px;
    margin: auto 0;
}

.gold-line {
    margin-top: 1.5em;
    border-top: 1px solid var(--gold);
}

.form-input-gray {
    font-family: 'Kalameh Bold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    outline: none;
    border: none;
    background-color: var(--inputbg);
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
}

.form-input-gray:focus {
    border: 1px solid var(--gray);

}

.form-input-submit {
    outline: none;
    border: none;
    background: var(--lightblue);
    background: var(--linearlightblue);
    width: 100%;
    padding: 10px;
    color: var(--white);
    font-size: 1rem;
    border-radius: 10px;
    font-family: 'Kalameh Bold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-input-submit:hover {
    cursor: pointer;
    background: var(--gold);
    background: var(--lineargold);
}

.spania {
    direction: rtl;
    text-align: right;
    top: -148px;
    z-index: 1000;
}


.golden-text {
    color: var(--gold);
    font-size: 1.25rem;
}

.spania-title {
    font-size: 2rem;
}

.circle-blue {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin: auto 5px;
    background: var(--bluesky);
}

.link-btn {
    margin: 5px;
    color: var(--gold);
    font-family: 'Kalameh Bold', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px 10px;
    border-radius: 7px;
    border: 1px solid var(--gold);
}

.link-btn:hover {
    color: var(--bluesky);
    border: 1px solid var(--bluesky);
}

.line-gold-bottom {
    border-bottom: 1px solid var(--gold);
    margin-top: 10px;
}

.buttons {
    background-color: var(--white);
    padding: 5px;
    border-radius: 4px;
    color: var(--black);
    box-shadow: 1px 0px 2px rgb(153 153 153);

}

.buttons img {
    width: 15px;
    padding: auto;
    margin: -4px 0;
}

.icons {
    float: left;
}

.share-links {
    margin-top: 13px;
    float: left;
    visibility: hidden;
    transition: all 0.7 ease-in;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
    direction: rtl;
    margin-top: 1em;
    overflow-x: auto;
    table-layout: fixed;
}

.head-table {
    background-color: var(--graywhite);
    border-radius: 5px;
}

.rounded-right {
    border-radius: 0 15px 15px 0;
}

.rounded-left {
    border-radius: 15px 0 0 15px;
    width: 150px;
}

th,
td {
    padding: 10px;
    margin: 5px;
}

tr {
    border-bottom: 1px solid var(--gold);
}

tr:hover {
    color: var(--bluesky);
}

tr:nth-child(1) {
    border-bottom: none;
}

tr:nth-child(1):hover {
    color: var(--black);
}

.img-location {
    width: 25px;
    height: 25px;
}

.star {
    padding-left: 5px;
    color: var(--white);
    font-size: 2rem;
    text-align: left;
    width: 40px;
    height: 35px;
    background: url(../images/starholder.png) no-repeat;
}

.limited-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* .bottom-line-gold{
    border-bottom: 3px solid var(--gold) ;
} */
dd {
    display: none;
    margin-inline-start: 0px;
    opacity: 0;

}

.dd-show {
    opacity: 1;
    direction: rtl;
    text-align: justify;
    line-height: 1.5rem;
    padding: 15px;
    background-color: var(--white);
    border-radius: 0 0 10px 10px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;

}

dt {
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    direction: rtl;
    background-color: var(--graywhite);
    margin: 10px 0 0 0;
}

.dt-show {
    border-radius: 10px 10px 0 0;
    background-color: var(--white);
}

/* grid */
.grid-layout {
    width: 100%;
}

.angry-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* grid-template-columns: repeat(5, minmax(150px, 1fr)); */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    height: 100%;
    justify-content: center;
}

.grid-content {
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

#item-0 {

    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;

}

#item-1 {

    grid-row-start: 1;
    grid-column-start: 5;

    grid-row-end: 2;
    grid-column-end: 6;

}

#item-2 {

    grid-row-start: 1;
    grid-column-start: 4;

    grid-row-end: 2;
    grid-column-end: 5;

}

#item-3 {

    grid-row-start: 1;
    grid-column-start: 2;

    grid-row-end: 2;
    grid-column-end: 4;

}

#item-4 {

    grid-row-start: 2;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 4;

}

#item-5 {

    grid-row-start: 2;
    grid-column-start: 4;

    grid-row-end: 3;
    grid-column-end: 6;

}

.hover-img {
    color: var(--black);
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-align: center;
    border-radius: 10px;
    width: 100%;
}

.hover-img * {
    box-sizing: border-box;
    transition: all 0.45s ease;
}

.hover-img::before,
.hover-img::after {
    /* border-radius: 10px; */
    background-color: rgba(86, 241, 247, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 0;
    transform: scaleY(2);
}

.hover-img img {
    vertical-align: top;
    max-width: 100%;
    backface-visibility: hidden;
}

.hover-img figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1em;
    opacity: 0;
    z-index: 2;
    color: var(--black);
    transition-delay: 0.1s;
    font-family: "kalameh Bold";
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.hover-img figcaption img {
    max-width: 40px;
    width: 20%;

}

.hover-img:hover::before,
.hover-img:hover::after {
    transform: scale(1);
    opacity: 1;
}

.hover-img:hover>img {
    opacity: 0.7;
}

.hover-img:hover figcaption {
    opacity: 1;
}

.more-text {
    border: 1px solid var(--gold);
    border-radius: 10px;
    color: var(--gold);
    padding: 5px 30px;
    width: 100%;
}

/* grid */
@media (max-width:1084px) {
    .together {
        flex-direction: column;
    }

    .user-comment {
        width: 100%;
        text-align: right;
    }


}

@media (max-width:1032px) {
    .card-tour-abs {
        position: absolute;
        top: -183px;
        z-index: 100;
        font-weight: bold;
    }

}

@media (max-width:1280px) {
    .over-main {
        top: 220px;
    }
}

@media (max-width:1000px) {
    .bg-signin {
        transition: all 0.5s linear;
        display: none;
    }

    .signin {
        transition: all 0.5s linear;
        padding: 0;
    }

    .membership {
        transition: all 0.5s linear;
        text-align: center;
        position: static;
        background: var(--blue);
        padding: 10px 20px;
        color: var(--white);
        z-index: 20;
        font-size: 1.5rem;
    }

    .form {
        transition: all 0.5s linear;
        margin: 0;
        position: static;
    }

}

@media (max-width:998px) {

    /* .tour-card-text {
        font-size: 0.75rem;
        font-weight: 900;} */
    .details-hotel {
        display: none;
    }

    .copyright {
        transition: all 0.5s linear;

        font-size: 1rem;

    }

    .app,
    .footer-links {
        transition: all 0.5s linear;

        border-top: 1px var(--gold) solid;
    }

    .access {
        transition: all 0.5s linear;

        display: none;
    }

    .width-70 {
        transition: all 0.5s linear;

        display: none;
    }

    .width-30 {
        transition: all 0.5s linear;

        width: 100%;
    }

    .tel {
        transition: all 0.5s linear;

        margin-right: 0;
        margin-top: 0;
    }

    .width-35 {
        transition: all 0.5s linear;

        width: 95%;
    }

    .width-60 {
        transition: all 0.5s linear;

        width: 95%;
        padding: 3em 0 0 0;

    }

    .fig-center {
        transition: all 0.5s linear;

        text-align: center;
    }

    .map-card {
        transition: all 0.5s linear;

        border-radius: 0 70px;
    }

    .address {
        transition: all 0.5s linear;

        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .address-content {
        transition: all 0.5s linear;
        width: 100%;
        padding: 5px;
        text-align: center;
    }

}


@media (max-width:826px) {
    .row-to-column {
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        text-align: right;
    }

    .card-tour-abs {
        top: -215px;
    }

    .tour-service-card {
        margin-top: 20px;
    }

    .spania {
        margin-top: 20px;
    }

}

@media (max-width:780px) {
    .over-main {
        top: 200px;
    }

    .side-left {
        margin-top: 20px;
    }

    .spania {
        margin-top: 30px;
    }
}

@media (max-width:686px) {
    .isfahan-img {
        display: none;
    }

    .card-tour-abs {
        top: -196px;
    }

    .right {
        font-size: 1.25rem;
    }
}

@media (max-width:660px) {
    .side-left {
        width: 100%;
    }

    .spania {
        margin-top: 0;
    }

    .card-tour-abs {
        top: -105px;
        width: 100%;
    }

    .tour-service-card {
        padding: 20px;
        margin: 5px 0;
        background-color: var(--boxbg);
        border: 1px solid var(--graywhite);
        border-radius: 10px;
        max-width: 100%;
        width: 100%;
        direction: rtl;
    }

    .side-right {
        width: 100%;
        margin-top: 0;
    }

    .row-to-column {
        flex-direction: row-reverse;

        justify-content: space-between;
        margin: 0 auto;
        text-align: right;
    }
}

@media (max-width:550px) {

    .hamburger-menu {
        display: block;
        cursor: pointer;
    }

    .menu {
        display: none;
    }

    /* .navbar{
        flex-direction: row-reverse;
    } */


    .item-menu {
        text-align: right;
        display: block;
        padding: 10px 5px;
    }

    .pipe {
        display: none;
    }
}

@media (max-width:520px) {

    .nav-logo {
        margin: auto;
    }


    .owl-carousel img {
        -webkit-clip-path: inset(0 0 0 0);
        clip-path: inset(0 0 0 0);
    }

}

@media (max-width:361px) {

    .card-tour-abs {
        top: -98px;

    }

}

@media (max-width:280px) {

    .card-tour-abs {
        top: -71px;

    }

    .tour-service-card {
        margin: 57px 0;

    }

}